{{extend "../layout/layout.html"}}

{{block "title"}}网页爬取{{/block}}

{{block "css"}}

{{/block}}

{{block "content"}}
    <div>
        <input type="text" class="js-url">
        <button class="js-crawling">爬取</button>
    </div>
{{/block}}

{{block "js"}}
    <script>
        $(".js-crawling").on("click",function () {
            http({
                "url":"/webCapture",
                "data":{
                    "url": $(".js-url").val(),
                }
            }, (data) => {

            });
        });
    </script>
{{/block}}