{{extend "../layout/layout.html"}}

{{block "title"}}文章详情{{/block}}

{{block "css"}}
<link rel="stylesheet" href="/css/article-detail.css">
<link rel="stylesheet" href="/lib/highlight/styles/atom-one-dark.css">
{{/block}}

{{block "content"}}
<div class="layui-container ui-detail-box">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12 content detail">
            <div class="fly-panel detail-box">
                <h1>{{data.title}}</h1>
                <div class="fly-detail-info">
                    <span>{{data.createdAt}}</span>
                    <span class="fly-list-nums">
                        <a href="javascript:;"><i class="iconfont" title="回答"></i>{{count}}</a>
                        <i class="iconfont" title="人气"></i> {{data.browse}}
                    </span>
                </div>
                <div class="detail-body photos">
                    {{@data.content}}
                </div>
            </div>

            <div class="fly-panel detail-box" id="flyReply">
                <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
                    <legend>回帖</legend>
                </fieldset>

                <div class="layui-form layui-form-pane">
                    <form action="/replay" method="post" class="js-replay-form">
                        <textarea id="L_content" name="content" required lay-verify="required" placeholder="请输入内容"  class="layui-textarea fly-editor js-replay-text" style="height: 150px;margin-bottom: 20px"></textarea>
                        <!--文章id-->
                        <input type="hidden" name="articleId" value="{{data.id}}">
                        <a href="javascript:;" class="layui-btn js-replay-submit">提交回复</a>
                    </form>
                </div>

                <ul class="jieda" id="jieda" style="margin-bottom: 0">
                    {{each data.replay}}
                        <li data-id="111" class="">
                            <a name="item-1111111111"></a>
                            <div class="detail-about detail-about-reply">
                                <a class="fly-avatar" href="">
                                    <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"
                                         alt=" ">
                                </a>
                                <div class="fly-detail-user">
                                    <a href="" class="fly-link">
                                        <cite>{{$value.nikename}}</cite>
                                    </a>
                                </div>
                                <div class="detail-hits">
                                    <span>{{$value.time}}</span>
                                </div>
                            </div>
                            <div class="detail-body jieda-body photos">
                                {{@ $value.reply_con}}
                            </div>
                            <div class="jieda-reply">
                                <span class="jieda-zan" type="zan">
                                    <i class="iconfont icon-zan"></i>
                                    <em>0</em>
                                </span>
                                <span type="reply" class="js-reply">
                                    <i class="iconfont icon-svgmoban53"></i>
                                    回复
                                </span>

                                <div class="ui-textarea-box js-textarea" style="display: none">
                                    <form action="/replay" method="post" class="js-replay-form ui-replay-form">
                                        <textarea name="content" required lay-verify="required" placeholder="请输入内容"  class="layui-textarea fly-editor js-replay-text" style="height: 150px;margin-bottom: 20px"> @{{$value.nikename}}： </textarea>
                                        <!--文章id-->
                                        <input type="hidden" name="articleId" value="{{data.id}}">
                                        <a href="javascript:;" class="layui-btn js-replay-submit">提交回复</a>
                                    </form>
                                </div>
                                <!--<div class="jieda-admin">-->
                                    <!--<span type="edit">编辑</span>-->
                                    <!--<span type="del">删除</span>-->
                                    <!--<span class="jieda-accept" type="accept">采纳</span>-->
                                <!--</div>-->
                            </div>
                        </li>
                    {{/each}}
                    <li>
                        <!--分页-->
                        <div style="text-align: center" class="js-pages"></div>
                        <!--总数据个数-->
                        <input type="hidden" class="js-page-count" value="{{count}}">
                    </li>
                    <!-- 无数据时 -->
                    <!-- <li class="fly-none">消灭零回复</li> -->
                </ul>

        </div>
        <!--<div class="layui-col-md4">-->

        <!--</div>-->
    </div>
</div>
{{/block}}

{{block "js"}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    <script>
        $(function () {
            //留言和回复
            $(".js-replay-submit").on("click",function(){
                var text = layui.fly.content($(this).siblings(".js-replay-text").val());
                var articleId = $(this).siblings("input[name = 'articleId']").val();
                if(text){
                    http({
                        "url":"/replay",
                        "data":{
                            "content": text,
                            "articleId": articleId
                        },
                    },function (data) {
                        window.location.reload();
                    });
                }else{
                    layer.msg("请输入留言内容");
                }
                return false;
            });

            //回复
            $(".js-reply").on("click",function () {
                $(this).parent().find(".js-textarea").slideToggle("400");
            });

            //调用分页
            var page_count = $(".js-page-count").val();
            global_utils.page(page_count,".js-pages");
       })
    </script>
{{/block}}