.g-logo {
  margin-top: 10px;
  width: 107px;
  height: auto;
  vertical-align: middle;
}
.fly-logo {
  top: 5px;
}
body {
  margin-top: 100px!important;
}
.ui-detail-box .ui-textarea {
  margin: 20px 0 20px 0;
}
