<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="前端博客,张帅,渣渣帅">
    <meta name="description" content="张帅的个人博客">
    <link rel="stylesheet" href="/lib/layui/layui/css/layui.css">
    <link rel="stylesheet" href="/lib/layui/css/global.css">
    <!--公共css-->
    <link rel="stylesheet" href="/css/public.css">
    <title>渣渣帅的博客-{{block 'title'}} {{/block}}</title>
    <!--私有css-->
    {{block 'css'}}{{/block}}
</head>
<body>
    <!--头部-->
    {{include "../common/header.html"}}

    <!--内容-->
    {{block 'content'}}{{/block}}

    <!--尾部-->
    {{include "../common/footer.html" }}

    <!--公共js-->
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="/lib/layui/layui/layui.js"></script>
    <!--私有js-->
    {{block 'js'}}{{/block}}
</body>
</html>