body {
  background: #f5f5f5;
  font-family: "微软雅黑";
}
.ql-editor {
  min-height: 200px!important;
}
.el-message {
  position: absolute;
  z-index: 2023;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
